html, body {
    height:100%;
}

body {
  font-family: IBM Plex Mono;
  background-image: linear-gradient(180deg, #313745 0%, #001025 100%);
  color: white;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  word-wrap: break-word;
}

p {
  line-height: 150%;
}

select {
  outline: 0;
  height: 20px;
}

.competition-grid-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.competition-card {
  width: 320px;
  height: 200px;
  padding-top: 10px;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}

input {
  height: 30px;
  width: 100%;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 5px;
  padding-left: 10px;
  position: relative;
  top: -8px;
  margin-bottom: 20px;
  outline: 0;
}

iframe {
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  .logo {
    margin-left: 15px;
  }
  .header-items {
    color: #808080;
  }
  .header-items div {
    margin-right: 15px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .header-width {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 35px;
  }

  .header-items {
    float: left;
    margin-left: 15px;
  }
}
